.keypad {
  display: grid;
  grid: repeat(5, 70px) / repeat(4, 70px);
  gap: 20px;
  button {
    border: none;
    border-radius: 10px;
    background-color: #32012f;
    font-size: x-large;
  }
  &__buttons,
  &__controls {
    color: #e2dfd0;
  }
  .--operators {
    color: #f97300;
  }
  button:hover {
    background-color: rgba(249, 115, 0, 0.3);
    cursor: pointer;
  }
}
