@use "../variables/colors.scss" as colors;

.display {
  width: 100%;
  height: 150px;
  margin: 3vh 0;
  background-color: colors.$light;
  padding: 20px;
  overflow: hidden;
  position: relative;
  &__input {
    height: 55px;
    width: 100%;
    text-align: right;
    color: colors.$base;
    line-height: 2;
    font-size: 1.5rem;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  &__answer {
    height: 55px;
    width: 100%;
    text-align: right;
    color: colors.$dark;
    line-height: 3;
    font-size: larger;
  }
  .upper-teeth,
  .lower-teeth {
    position: absolute;
    left: 0;
    width: 250px;
    height: 100px;
    transition: transform 0.1s ease-in-out;
    filter: invert(7%) sepia(99%) saturate(3397%) hue-rotate(339deg)
      brightness(103%) contrast(97%);
  }
  .upper-teeth {
    background-image: url(../assets/upperTeeth.svg);
    top: -90px;
  }
  .lower-teeth {
    background-image: url(../assets/lowerTeeth.svg);
    bottom: -100px;
  }
  &:hover .upper-teeth {
    transform: translateY(+90px);
  }
  &:hover .lower-teeth {
    transform: translateY(-100px);
  }
}
